{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "task_manager/index.css" %}">
    <title>Home page</title>
</head>
<body>
    <div id="tasks-container">
        <h1>Your tasks</h1>
        <form method="post" id="add-task-form" action="{% url "add-task" %}">
            {% csrf_token %}
            <input type="text" placeholder="Write new task" id="task-text-input" name="task-title">
            <input type="submit" value="ADD" id="add-btn">
        </form>
        {% for task in task_list %}
            <div class="task">
                <div class="task-data">
                    <form action="{% url "update-task" task.id %}" method="post">
                        {% csrf_token %}
                        <input type="checkbox" id="{{ task.title }}" name="task_checkbox" onchange="this.form.submit()" {% if task.is_completed %}checked{% endif %}>
                        <label for="{{ task.title }}" {% if task.is_completed %}class="strikethrough"{% endif %}>{{ task.title }}</label>
                    </form>
                </div>
                <a href="{% url 'delete-task' task.id %}" class="delete-btn">Delete</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>